:root {
  --color--heading: #2864af;
  --color--button--yellow: #f0a205;
  --color--white: #fff;
  --color--black: #000018;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--black {
  fill: var(--color--black);
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Nav Bar */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
  flex-wrap: wrap;
}

.nav__brand {
  /* transform: translate(3rem, 3rem); */
  width: 300px;
  padding-bottom: 3rem;
}

.nav__brand img {
  width: 100%;
}

.nav__toggler {
  opacity: 0.5;
}

.nav__list {
  width: 100%;
}

.nav__item {
  padding: 0.5rem 2rem;
}

.nav__item > a {
  color: var(--color--black);
  transition: all 0.3s;
}

.nav__item > a:hover {
  color: var(--color--white);
  background: var(--color--black);
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

/* Span */
span.straight-line {
  display: block;
  width: 90vw; /*or whatever width you want the effect of <hr>*/
  border-top: 1px solid var(--color--black);
  margin: 6rem auto;
}

/* Buttons */
.btn {
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  white-space: nowrap;
}

.btn--hero {
  background-color: var(--color--button--yellow);
  color: var(--color--white);
  margin-top: 8vh;
}

.btn--started {
  display: block;
  background-color: var(--color--heading);
  color: var(--color--white);
  margin: 10rem auto;
}

.btn--contact.btn--started {
  display: inline-block;
  margin: 0;
}

/* Hero */

.hero {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/hero_image.jpg");
}

.hero__heading {
  color: var(--color--white);
  font-weight: 500;
  font-size: 3rem;
}

/* Services */
.services {
  padding: 5rem 5rem;
}

.services__heading {
  color: var(--color--heading);
  text-decoration: underline;
  text-align: center;
  font-weight: 400;
}

.services-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.services__desc {
  text-align: center;
  font-size: 1.6rem;
  color: var(--color--black);
}

.media-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-element__img {
  width: 100%;
  height: auto;
}

.media-element__desc {
  font-weight: 500;
  font-size: 3rem;
}

/* Virtual Tours */
/* Photography Services */
/* Floor Plans */

.virtual-tours,
.photo-service,
.floor-plans {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.virtual-tours__heading,
.photo-service__heading,
.floor-plans__heading {
  color: var(--color--black);
  font-weight: 500;
  font-size: 3rem;
  /* align-self: center; */
  width: 80%;
}

.virtual-tours__article,
.photo-service__article,
.floor-plans__article {
  width: 80%;
}

.article__heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.article__paragraph {
  padding: 2rem 0;
  font-size: 1.6rem;
}

.article__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Work Together */
.work-together {
  background: var(--color--button--yellow);
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__heading.work-together__heading {
  font-size: 3.4rem;
  font-weight: 500;
}

.article__paragraph.work-together__paragraph {
  color: var(--color--white);
  width: 50%;
}

/* Contact Info */
.contact-info {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__heading.contact-info__heading {
  font-size: 3.4rem;
  font-weight: 500;
  color: var(--color--black);
}

.article__paragraph.contact-info__paragraph {
  color: var(--color--black);
}
