<article class="virtual-tours__article">
  <p class="article__paragraph">
    Virtual Tours are a great way to show a real estate listing, preview an
    event venue, train employees or navigate through a construction zone, from
    the comfort and safety of home. The process is very simple: we come out to
    your site, take a 3D scan of the space and within 48 hours your virtual tour
    is ready to go!
  </p>
  <h2 class="article__heading">For Your Real Estate Listing</h2>
  <p class="article__paragraph">
    Showcase your real estate listing with fully immersive, 3D Virtual Tours,
    and beautiful hi-res photography. Engage with more prospective clients,
    faster and more easily on Zillow, Redfin, Craigslist, or your personal
    website, with the ability to post or embed your Virtual Tour anywhere on the
    web.
  </p>
  <img
    src="images/FrontWalk-1-ColorCorrected.jpg"
    alt="a nice house"
    class="article__image"
  />
</article>
