<section class="floor-plans">
  <h1 class="floor-plans__heading">Floor Plans</h1>
  <article class="floor-plans__article">
    <p class="article__paragraph">
      Floor plans are great for real estate agents, event planers, and
      contractors alike. After we scan your property, we can provide precise
      dimensions and accurate square-footage calculations in short order. Need a
      seating layout for a concert but don't know how many chairs will fit in
      the space? No problem!
    </p>
    <img
      src="images/floor_plans.jpg"
      alt="a nice house"
      class="article__image"
    />
  </article>
</section>
