<section class="services">
  <h1 class="services__heading">Our Services</h1>
  <p class="services__desc">
    Space Scan 3D currently offers 3D scanning for virtual tours, photography
    and floorplans
  </p>
  <span class="straight-line"></span>
  <div class="services-container">
    <div class="media-element">
      <img
        src="images/VirtualTourIcon-01.png"
        alt="virtual tours"
        class="media-element__img"
      />
      <p class="media-element__desc">3D Virtual Tours</p>
    </div>
    <div class="media-element">
      <img
        src="images/PhotographyIcon-01.png"
        alt="virtual tours"
        class="media-element__img"
      />
      <p class="media-element__desc">3D Virtual Tours</p>
    </div>
    <div class="media-element">
      <img
        src="images/FloorPlanIcon-01.png"
        alt="virtual tours"
        class="media-element__img"
      />
      <p class="media-element__desc">3D Virtual Tours</p>
    </div>
  </div>
  <button class="btn btn--started">Get Started</button>
  <span class="straight-line"></span>
</section>
